{% extends 'base_templates/index.html' %}
{% load i18n %}
{% load static %}

	{%  block title %}
		<title>Каталог</title>
	{%  endblock title %}

	{% block page_name %}
		<h2 class="animated fadeInUp" style="margin: 45px 0px 45px 665px;">Каталог товаров<br>и предоставляемых<br>услуг</h2>
	{% endblock page_name %}

	{%  block content %}
		<h2>Каталог товаров и услуг</h2>
        <div class="cards clearfix">
<!--			{% for i in num %}-->
<!--        	<div class="one">-->
<!--        		<img src="{% static 'img/paris.png' %}">-->
<!--        		<div class="title">Парыж</div>-->
<!--        		<div class="desc">12 дней / Хостел / $299</div>-->
<!--        		<a class="button2" onclick="$('#exampleModal').arcticmodal()">Подробнее</a>-->
<!--        	</div>-->
<!--			{% endfor %}-->
			{% for object in categories %}
			<div class="one">
        		<img src="{{ object.icon_photo.url }}" height="270" width="270">
        		<div class="title">{{ object.category_name }}</div>
        		<div class="desc" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ object.description }}</div>
				<a class="button2" href="/catalog/{{ object.pk }}">Подробнее</a>
<!--        		<a class="button2" onclick="$('#exampleModal').arcticmodal()">Подробнее</a>-->
        	</div>
			{% endfor %}
        </div>
	{% endblock content %}
