{% extends 'base_templates/index.html' %}
{% load i18n %}
{% load static %}

	{%  block title %}
		<title>{{ category }}</title>
	{%  endblock title %}

	{% block page_name %}
		<h2 class="animated fadeInUp" align="right">Каталог товаров<br>из категории<br>{{ category }}</h2>
	{% endblock page_name %}

	{%  block content %}
		<h2>Категория: {{ category }}</h2>
        <div class="cards clearfix">
			{% for object in products %}
			<div class="one">
        		<img src="{{ object.product_photo.first.photo.url }}" height="100%" width="100%">
				<div class="title">{{ object.category.category_name }}</div>
        		<div class="title">{{ object.name }}</div>
        		<div class="desc">{{ object.description }}</div>
				<div class="desc">{{ object.price }}</div>
        		<a class="button2" onclick="$('#exampleModal').arcticmodal()">Подробнее</a>
        	</div>
			{% endfor %}
        </div>
	{% endblock content %}
