body {
	padding: 0px;
	margin: 0px;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 400;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
}

ul {
	margin: 0px;
	padding: 0px;
}

header {
	background: url(../img/first_bg.jpg) no-repeat;
	padding-top: 44px;
	padding-bottom: 44px;
}

article {
	width: 1170px;
	margin: 0px auto;
}

.contact {
	font-weight: 900;
	float: right;
}

.contact span {
	margin-left: 37px;
}

.contact {
	padding-top: 20px;
}

h1 {
	font-size: 57px;
	font-weight: 900;
	text-transform: uppercase;
	margin: 63px 0px 27px 0px;
}

.intro {
	font-size: 15px;
	width: 472px;
	line-height: 23px;
}

.button {
	color: rgb(255, 255, 255);
	font-weight: 900;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	background: rgb(0, 0, 0) none repeat scroll 0% 0%;
	border-radius: 4px;
	padding: 23px 29px;
	margin-top: 34px;
	display: block;
	width: 205px;
	text-align: center;
	padding: 10px;
}

.button:hover {
	background: #2a2a2a;
}

.button:active {
	background: #494949;
}

h2 {
	margin: 67px 0px 55px 0px;
	font-weight: 900;
	font-size: 40px;
	margin: 0 0 0 auto;
	align: right;
	text-transform: uppercase;
}

.one {
	width: 270px;

    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.36);
    margin-bottom: 30px;
    padding-bottom: 25px;
    float: left;
    margin-right: 30px;
    -moz-transition: all 0.3s ease;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

.container-buttons {
  display: flex;
  justify-content: space-around;
}

.one:hover {
	box-shadow: 0px 2px 55px rgba(0, 0, 0, 0.41);
}

.title {
	font-size: 17px;
	font-weight: 900;
	text-transform: uppercase;
	margin-left: 25px;
	margin-top: 18px;
}

.desc {
	font-weight: 300;
	font-size: 14px;
	margin-left: 25px;
	margin-top: 2px;
}

.button2 {
	font-size: 13px;
font-weight: 900;
text-transform: uppercase;
color: black;
text-decoration: none;
border: 1px solid black;
border-radius: 4px;
padding: 10px 23px;
display: block;
width: 78px;
margin-top: 16px;
margin-left: 25px;
}

.button2:hover {
	background: #000;
	color: #fff;
}

.cards .one {
	margin-right: 22px;
}

#contact {
	background: url(../img/contact.jpg);
	color: #fff;
	padding-bottom: 53px;
	margin-top: 30px;
}

#contact h2 {
	margin: 0px 0px 18px 0px;
	font-weight: 900;
	font-size: 40px;
	text-transform: uppercase;
	padding-top: 67px;
}

.text {
	width: 566px;
	font-size: 15px;
	line-height: 23px;
}

.list {
	margin-top: 31px;
}

.list li {
	font-size: 15px;
	margin-bottom: 17px;
	display: block;
	background: url(../img/bullet.png) no-repeat left center;
	padding-left: 28px;
}

#contact .contact {
	float: none;
}

#contact .contact i {
	color: #fbc646;
}

#contact .contact span:nth-child(1) {
	margin-left: 0px;
}

footer {
	background: #231f13;
	color: #fff;
	font-size: 13px;
}

footer article div, footer article img {
	float: left;
}

footer article div {
	margin-top: 42px;
	margin-right: 126px;
}

.logo_footer {
	margin: 17px 135px 17px 0px;
}

footer article div:nth-child(4) {
	margin-right: 0px;
}

.location span {
	color: #fbc646;
}

img {
  border-style: none;
}

audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

sub,sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

@media screen and (max-width: 768px) {
    .subscribe-form #subscribe-email {
        margin-bottom: 20px;
    }
}

main {
    display: block;
}

.main-posts {
    position: relative;
    z-index: 6;
    background-color: #f1f1f1;
}

.post-masonry {
    margin-bottom: 30px;
}

.post-masonry .post-thumb {
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
}

.post-masonry .post-thumb img {
    width: 100%;
    display: block;
}

.post-masonry .post-thumb .title-over {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.9);
    padding: 15px 20px;
}

.post-masonry .post-thumb .title-over h4 {
    font-size: 16px;
    font-family: 'robotoregular';
}

.post-masonry .post-thumb .title-over a {
    color: #fff;
}

.post-masonry .post-thumb .post-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,0.9);
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.post-masonry .post-thumb .post-hover .inside {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
}

.post-masonry .post-thumb .post-hover h4 {
    font-size: 16px;
    font-family: 'robotoregular';
    margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover a {
    color: #fff !important;
}

.post-masonry .post-thumb .post-hover i {
    display: block;
    margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover p {
    font-size: 12px;
}

.post-masonry .post-thumb .post-hover span {
    font-size: 12px;
    margin-bottom: 15px;
    display: block;
}

.post-masonry .post-thumb:hover .title-over {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    bottom: -50px;
}

.post-masonry .post-thumb:hover .post-hover {
    top: 0;
    visibility: visible;
    opacity: 1;
}

.site-footer {
    position: relative;
    z-index: 8;
    background: rgba(0,0,0,0.6);
    padding: 40px 0;
    margin-top: 60px;
}

.site-footer .social-icons {
    margin-bottom: 30px;
}

.copyright-text {
    font-size: 12px;
}

.copyright-text a {
    color: #bfbfbf;
}

.single-video {
    width: 100%;
}