{%  extends 'base_templates/index.html'  %}
{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Корзина
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="/products/">{{ _('домой') }}</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Корзина</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        {% if basket.count() %}
        <form class="form Cart" action="#" method="post">

        {% for item in basket %}
        {% with product=item.product %}




          <div class="Cart-product product-item" data-index="{{ product.id }}" >
            <div class="Cart-block Cart-block_row">
              {% set product_detail_url = url('products:product-detail', kwargs={'pk': product.pk}) %}

              <div class="Cart-block Cart-block_pict">
                  {% if product.product_photo.first() %}
                  <a href="{{ product_detail_url }}">
                      <img  src="{{ product.product_photo.first().photo.url  }}"  alt="{{ product.product_photo.first().photo.url }}" width="240" height="160"/>
                  </a>
                  {% else %}
                  <a class="Cart-pict" href="{{ product_detail_url }}"><img class="Cart-img" src="/media/defolt.png" alt="card.jpg"/></a>
                  {% endif %}
              </div>

              <div class="Cart-block Cart-block_info">
                <a class="Cart-title" href="{{ product_detail_url }}">
                  {{ product.name }}
                </a>

                {% if product.description %}
                <div class="Cart-desc">
                  {{ product.description }}
                </div>
                {% endif %}
              </div>
              <div  class="Cart-block Cart-block_price">
                  <span class="Card-price">
                    цена: {{ product.price }} &#8381;
                  </span>
              </div>
            </div>
            <div class="Cart-block Cart-block_row">

              <div  class="Cart-block Cart-block_amount">
                <div  class="Cart-amount">
                  <div class="Amount">
                      <a class="Card-btn add-button add-button-pulse" data-product_id="{{ product.id }}" data-action="remove">
                        <img src="{{ static('assets/img/icons/minus.png') }}" alt="cart.svg"/>
                      </a>

                      <a class="Cart-title" id="product-count_product_in_basket{{ product.id }}">{{ item.product_amount }}</a>

                      <a class="Card-btn add-button add-button-pulse" data-product_id="{{ product.id }}" data-action="add">
                        <img src="{{ static('assets/img/icons/plus.png') }}" alt="cart.svg"/>
                      </a>

                  </div>
                </div>
              </div>

                <div  class="Cart-block Cart-block_price">
                  <span id="product-discount-subotal{{ product.id }}" class="Card-price">
                  стоимость: {{ item.total_cost }}
                  </span>
                </div>

              <div class="Cart-block Cart-block_delete" data-product_id="{{ product.id }}">
                  <a type="button" id="delete-button" class="Cart-delete">
                      <img src="/static/assets/img/icons/card/delete.svg" alt="delete.svg"/>
                  </a>
              </div>
            </div>
          </div>
          {% endwith %}
          {% endfor %}

          <div class="Cart-total">
            <div  class="Cart-block Cart-block_total">
              <strong class="Cart-title">Итого:</strong>

              <span id="subtotal_1" class="Cart-price">{{ full_sum }} &#8381;</span>
            </div>
            <div class="Cart-block"><a class="btn btn_success btn_lg" href="/basket/ordering/">Оформить заказ</a>
            </div>
          </div>
        </form>
        {% else %}
        В корзине нет товаров.
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
